body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mapid {
  height: 100vh;
}

.title {
  font-size: 1.3em;
  /* margin: 1em; */
}

@media (min-width: 500px) {
  .title {
    font-size: 1.5em;
    margin: 1em;
  }
}

.inputs {
  margin: 1em 0;
}

.slider {
  width: 80%;
  margin: 1em auto;
}

.MuiSlider-root {
  color: white !important;
}

button {
  border-radius: 2px;
  border: 0;
  padding: 0.2em 1em;
  cursor: pointer;
  width: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.1s ease-in;
}

button:hover {
  background-color: rgb(193, 193, 193);
}

.optionsToggle {
  z-index: 100000;
  color: white;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.8em;
}

.optionsToggle,
.minimise {
  cursor: pointer;
  text-decoration: underline;
}

.popup {
  text-align: center;
}
